// ------------------------------------------------------------------------------------------
// --- We should update the MINOR_VERSION every time we make a release.  We will update the
// --- MAJOR_VERSION when we have changed something very significant like change the malaria
// --- or HIV intra-host model (something changing the science significantly) or a major 
// --- change to the processing (i.e. don't loop over each node and each human in each node.').
// ---
// --- VERSIONING RULES
// ---
// --- When creating a new version, please log the big things that changed so that we can easily
// --- remember what has changed and when. This is developer facing information, not user
// --- facing info.
// ---
// --- MAJOR_VERSION - Change when something very significant changes like the malaria
// ---                 or HIV intra-host model (something changing the science significantly)
// ---                 or a major change to the processing (i.e. don't loop over each node
// ---                 and each human in each node.'). Set by developer.
// ---
// --- MINOR_VERSION - Change every time we make a release. Every time we make an EMOD
// ---                 release we should be making an emodpy-XXX release. An EMOD bug fix
// ---                 that has not interface/input/output changes could be just a minor
// ---                 emodpy-XXX version change. If we add a "minor" feature to EMOD, this
// ---                 may cause a major version change to emodpy-XXX if it breaks existing
// ---                 code. If the emodpy-XXX code can be updated such that people can get
// ---                 the new version of EMOD and user their existing emodpy-XXX code, then
// ---                 emodpy-XXX can have a minor version change. Set by developer.
// ---
// --- REVISION_NUMBER - Number of commits since previous minor version increment. Requires
// ---                   correctly set tags using the format "vX.Y" for X=MAJOR_VERSION and
// ---                   for Y=MINOR_VERSION. Set via the scripts.
// ---
// --- BUILDER_NAME -  This is the user name of the person building EMOD. Set via the scripts.
// ---
// --- BUILD_DATE -    The data and time that the code is being compiled. Set by compiler.
// ---
// --- BRANCH -        The name of the branch in git. Set via the scripts.
// ---
// --- HASH -          The short commit hash value of the commit in git. The branch and the
// ---                 has allow the user to get the exact version of code.
// ---                 THE BRANCH AND HASH ARE THE MOST IMPORTANT PART OF THE VERSIONING.
// ---                 IT IS CRITICAL THAT THEY ARE CORRECT AND FINDABLE IN GITHUB!!!
// ---                 Set via the scripts.
// ---
// --- SCCS_BRANCH -   Combination of branch and commit hash. Set via the scripts.
// ---
// --- SCCS_DATE -     The data of the commit indicated by the hash. Set via the scripts.
// ---
// --- ============= Scripts Used in Versioning ===============
// ---
// --- utils\SConstruct - SCons build script for building the utils library. Most important.
// ---                    In addition to building the library, the file also contains logic to
// ---                    extract git information and set compiler directives for SCCS_BRANCH,
// ---                    SCCS_DATE, BUILDER_NAME, and REVISION_NUMBER. It copies this file to
// ---                    version_info.h and then relies on the compiler directives to set the
// ---                    values.
// ---
// --- Scripts\gitversion.cmd - Visual Studio uses these files via a Pre-Build Event in the
//     Scripts\gitversion.js    utils.vs.proj file. Scripts will get the git information
// ---                          and create a version_info.h file that has the REVISION, BRANCH
// ---                          HASH, DATE, and BUILDER replaced with the values from git.
// ---
// --- NOTE: version_info.h is created during a build and should not be checked in.
// ------------------------------------------------------------------------------------------


// 2.22 -  7/30/2024 - Major update from 2.20 (2019) to 2.22 (2024)
// 2.23 - 10/25/2024 - Vector Migration Overhaul - male migration, migration by species, rates by gender,
//                     Change MosquitoRelease Fraction to Ratio,
//                     Add Coordinator_Name to RTEC-TrackingConfig
//                     Add Blood_Meal_Mortality
// 2.24 - 12/13/2024 -  Added Report_HIV_ByAgeAndGender_Collect_Targeting_Config_Data
//                      TargetingLogic - Add Is_Equal_To, Fix Schema
//                      Check AgeDistribution for nested arrays
//                      MalariaSummaryReport: GH-66 & GH-5002 - Add options for true & HRP2 density channels
//                      Added Vector Migration by Genome
//                      Disabled Serialization_Mask_Node_Write & Serialization_Mask_Node_Read
// 2.25 - 06/09/2025 -  Added internal schema post-processing, no need to post-process the schema when generated, already done
//                      Serialization version update due to code changes for ReportFPGNewInfections
//                      HIV: Assortivity speed up
//                           Added condomless sex acts event
//                           Fixed ReportHIVByAgeAndGender issue GH-77
//                      Malaria: Added ReportFPGNewInfections
//                               Added unique names for InsecticideWaningEffect in schema
// 2.26 - 07/21/2025 -  Malaria: Added MaternalDeposition logic to vector genetics.
// 2.27 - 08/25/2025 -  Malaria: Serialization_Mask_Node_Write/Write re-enabled for larval habitat updates. Small changes to logging. 
// 2.28 - 10/09/2025 -  Added logging parameters to the schema
//                      Malaria: Added invidividual's demographics-based risk to the InputEIR and Malaria_Challenge interventions. 
//                                    Removed "Age_Dependence" parameter from InputEIR intervention, Age_Dependent_Biting_Risk_Type parameter 
//                                    from config will be used going forward to indicate whether age-dependent biting will be used
//                               Fixed MalariaSummaryReport bug where HRP2 channels were not being reported correctly.
// 2.29 - 10/21/2025 -  Default setting changes: Enable_Default_Reporting and Enable_Demographics_Reporting are now false (0) by 
//                          default. This supports emodpy users as the system is better designed to turn on (or add) the reports, 
//                          rather than turn them off. 
//                   -  Malaria: 
//                      Default behavior changes to receiving multiple of same intervention:
//                          Bednets - new bednet of any bednet class will replace any existing bednet. Individual will not be able 
//                              to have multiple bednets. 
//                          HousingModifications - new housing modifications are combined with already existing housing modifications 
//                              of the same class.
//                          Larivices - new larvices are combined with already existing larvicides.
//                          Ivermectin - new Ivermectin is combined with already existing Ivermectin.
//                          Other node-level vector interventions - new intervention replaces existing intervention of the same
//                             class unless they have different Intervention_Name parameters.
//                      Added OutdoorNodeEmanator intervention and IndoorIndividualEmanator interventions.
//                      Outdoor returning mortality:
//                          Added "outdoor returning mortality" (contributed to by OutdoorRestKill and OutdoorNodeEmanator) 
//                              to indoor biting vectors as well. Vectors that have fed indoors and outdoors are now subject 
//                              to those interventions.                                 
//                          Fixed issue where "outdoor returning mortality" was applied after we calculated newly-infected-vector 
//                              numbers, so you could get into a situation where even if your "outdoor returning mortality" is 100%, 
//                              your vectors population would still get newly-infected vectors as if some of the vectors successfully
//                              survived feeding on an infected human.
//                      Bloodmeal mortality:  
//                          Fixed issue where bloodmeal mortality and Ivermectin mortality were applied to vectors that fed on a sugar 
//                              trap instead of a human.
//                          Added bloodmeal mortality to animal feeding. Vectors that feed on animals are now also affected by bloodmeal
//                              mortality parameter.
//                      Enable_Demographics_Birth parameter has been removed. If you have Enable_Demographics_Risk and/or 
//                          Enable_Migration_Heterogeneity enabled (set to 1) and have births, the newborns in your simulation will
//                          automatically receive parameters based on demographics risk and migration settings.
//                   -  HIV:
//                      Fixed issue where newborns had higher rate of HIV at birth than they should have. The infection flag was not 
//                          being reset for each new newborn and once a newborn was flagged to be infected, all the following newborns
//                          in that time step were flagged as infected as well.
// 2.30 - 12/16/2025 -  Campaign Nodeset_Config option of NodeSetPolygon was removed from the codebase.
//                      Cleaned up and updated versioning.
//                      Schema improvements.
//                      Malaria: Added long term decay for malaria antibodies. 
//                               Added ReportAntibodies report.
//                               New serialization version 8 due to addition of long term decay for malaria antibodies.
// 2.31 - 1/16/2026  -  Serialization version change due to improvements in serializing/deserializing large population.
//                      Removed NodeCount parameter from demographics. It was required but not used.
//                      Malaria: Fixed issue with blood capacity calculations when people turned 20.
// 2.32 - 2/05/2026  -  Malaria: ReportFPGNewInfections now has a new optional parameter - "Report_Crossover_Data_Instead"
//                                   This keeps basic new infection info and adds a new GenomeCrossoverLocations column.
// 2.33 - 4/10/2026  -  Malaria: Changes to pyrogenic threshold options, new node-level LarvalMicrosporidiaIntervention 
// 2.34 - 4/20/2026  -  Support using Ubuntu 22 for building and running EMOD.
// 2.35 - 5/12/2026  -  Doc Sync
//                        - FPG's InsetChart - changed COI to have denominator of num infected people
//                        - Switched FPG output to have external node id instead of suid
//                        - Change Infectivity_Scale_Type to depend on Simulation_Type being generic, vector, or malaria
//                        - Number_Basestrains depends on Simulation_Type != HIV_SIM
//                        - Removed Susceptibility Scaling - did nothing
//                        - Change serialization version from 10.0.0 to 10.1.0
// 2.36 - 7/10/2026  -  Fixed gender-gene bug where male-allele frequency > 0.5 produced incorrect male/female ratio.
//                       Fixed outdoor killing emanator effect compounding over time instead of resetting.
//                       Removed some Boost dependencies, aligned Configuration methods with EMOD-Generic.
//                       QueryInterface removal trial, Node alignment with Generic.
//                       Updated legal statements, copyright year, README, and license files.

#define    MAJOR_VERSION    2
#define    MINOR_VERSION    36

#ifndef REVISION_NUMBER
#define    REVISION_NUMBER  $REVISION$
#endif

#ifndef SCCS_BRANCH
#define    SCCS_BRANCH      "$BRANCH$($HASH$)"
#endif

#ifndef SCCS_DATE
#define    SCCS_DATE        "$DATE$"
#endif

#ifndef BUILDER_NAME
#define    BUILDER_NAME     "$BUILDER$"
#endif

static const char* BUILD_DATE = __DATE__ " " __TIME__;


// Semantic versioning for serialized population, Major.Minor.Patch
//1.0.0 - 12/05/2022 - PR-4807 - Initial version
//2.0.0 - 01/12/2023 - GH-4846 - Added sim_time_created to Infection
//3.0.0 - 02/03/2023 - GH-4865 - Added m_BiteID to StrainIdentityMalariaGenetics
//4.0.0 - 06/30/2023 - GH-4935 - FPG-Hash Collision - New genome ID generator in ParasiteGenetics a new ID in a genome
//5.0.0 - 07/09/2023 - GH-4792 - Added m_OocystDuration to ParasiteCohort
//6.0.0 - 10/17/2024 - Vector_Migration_Improvements - New VectorCohortMale class
//7.0.0 - 06/09/2025 - https://github.com/EMOD-Hub/EMOD/issues/89 - new data for ReportFPGNewInfections
//8.0.0 - 11/05/2025 - New serialized parameters to support Antibody decay after inactivity
//9.0.0 - 12/08/2025 - Change serialized file structure so humans are separate from Nodes.
//10.0.0 - 04/01/2026 - New serialized parameter to support dynamic pyrogenic threshold option.
//10.1.0 - 05/10/2026 - Removed Susceptibility scaling

#define SER_POP_MAJOR_VERSION   10
#define SER_POP_MINOR_VERSION   1
#define SER_POP_PATCH_VERSION   0
